/* Primary design file for Project */

@import url("/styles/presets.css");
@import url("/styles/fonts.css");

:root {
  /* Project colors provided in Figma design file */
  --green: #54e6af;
  --blue-950: #121725;
  --blue-900: #2c344b;
  --blue-600: #5a668a;
  --blue-300: #c2cbe5;
  --white: #ffffff;
  --red: #fb3e3e;

  /* Spacings provided from Figma design file */
  --spacing-1300: 104px;
  --spacing-1100: 88px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-700: 56px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: calc(var(--spacing-400) + 4px);
  background-color: var(--blue-950);
}

.host-container {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

.host-container__img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  opacity: 0.1;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-700);

  padding: var(--spacing-1300) 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-500);

  width: 100%;
  max-width: 303px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.hero__title {
  color: var(--white);
  text-align: center;
}

.hero__details {
  color: var(--blue-300);
  text-align: center;
}

.sponsors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: 100%;
  height: fit-content;
}

.sponsors img {
  object-fit: contain;
  height: 100%;
  width: auto;
  min-width: 0; /* Flexbox gives elements min-width: auto by default, preventing shrink */
}

.register {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);

  width: 100%;
  order: 1;
}

.register__input {
  background-color: var(--blue-900);
  color: var(--white);

  border: none;
  border-radius: 24px;

  width: 100%;

  padding: var(--spacing-100) var(--spacing-200);
}

.register__btn {
  background-color: var(--green);
  width: 100%;
  padding: var(--spacing-100) var(--spacing-200);
  border-radius: 24px;
}

/* Utility Classes */
.text-highlight {
  color: var(--green);
}

@media (min-width: 768px) {
  .host-container {
    left: auto; /* Default value for Absolute positioning */
    right: 0;
    top: 0;

    width: 460px;
    height: 868px;
  }

  .host-container__img {
    z-index: 0;
    opacity: 1;
  }

  .contents {
    background-color: var(--blue-950);
    z-index: 1;
  }

  .register {
    order: 0;
  }
}
