/* Primary design file for Project */

@import url("/styles/presets.css");
@import url("/styles/fonts.css");

:root {
  /* Project colors provided in Figma design file */
  --green: #54e6af;
  --blue-950: #121725;
  --blue-900: #2c344b;
  --blue-600: #5a668a;
  --blue-300: #c2cbe5;
  --white: #ffffff;
  --red: #fb3e3e;

  /* Spacings provided from Figma design file */
  --spacing-1300: 104px;
  --spacing-1100: 88px;
  --spacing-1000: 80px;
  --spacing-800: 64px;
  --spacing-700: 56px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

body {
  background-color: var(--blue-950);
}

.hero__title {
  color: var(--white);
}

.hero__details {
  color: var(--blue-300);
}

/* Utility Classes */
.text-highlight {
  color: var(--green);
}
